.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 15px 0;
}


.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1.5px solid transparent; /* Initially invisible */
    transition: color 0.9s ease, border-bottom 0.9s ease;

}

.footer ul li:hover{
    color: #007bff;
    border-bottom: 1.5px solid #007bff;
    transition: color 0.9s ease, border-bottom 0.9s ease;
}

/* media query */
@media (max-width:600px) {
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}