h1{
    text-align: center;
    font-size: 3rem;
    user-select: none;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.button_container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button_container input{
    padding: 2px 7px;
    border-radius: 5px;
    font-weight: bold;
}

button{
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}